<h1>Contact List</h1>

<div>
  <button id="load-contacts">Show contacts</button>
</div>

<div>
  <form id="add-contact">
    <label for="contact-name"></label>
    <input type="text" id="contact-name" name="name" placeholder="Full name" />
    <label for="contact-email"></label>
    <input type="text" id="contact-email" name="email" placeholder="Email" />
    <label for="contact-city"></label>
    <input type="text" id="contact-city" name="city" placeholder="City" />
    <input type="submit" value="Add" />
  </form>
</div>

<div>
  <form id="find-contact">
    <input id="search-id" type="text" name="id" placeholder="Contact ID" />
    <input type="submit" value="Search" />
  </form>
</div>
<div>
  <form id="delete-contact">
    <label for="delete-id"></label>
    <input type="text" id="delete-id" placeholder="Contact ID" />
    <input type="submit" value="Delete" />
  </form>
</div>

<div id="search-result">

</div>
<script type='text/template' id="contact-template">
  <h3><%%= name %></h3>
  <h4><%%= email %></h4>
  <h4><%%= city %></h4>
</script>
<!-- <div id="search-result-name"></div>
<div id="search-result-email"></div>
<div id="search-result-city"></div> -->
