<h1>Contact List</h1>

<div>
  <button id="load-contacts">Show contacts</button>
</div>

<div>
  <form id="add-contact">
    <input type="text" name="name" placeholder="Full name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="city" placeholder="City" />
    <input type="submit" value="Add" />
  </form>
</div>

<div>
  <form id="find-contact">
    <input id="search-id" type="text" name="id" placeholder="Contact ID" />
    <input type="submit" value="Search" />
  </form>
</div>

<div id="search-result-name"></div>
<div id="search-result-email"></div>
<div id="search-result-city"></div>
